html {
  background: blanchedalmond;
}

body {
  text-align: center;
  width: 400px;
  border: 2px solid black;
  margin: auto;
  margin-top: 20px;
  background-color: ghostwhite;
  padding: 30px;
}

img {
  height: 300px;
  width: 300px;
  cursor: pointer;
}

input {
  height: 50px;
  width: 300px;
}
